:root {
    --primary-bg: #e3f2fd;
    --container-bg: #ffffff;
    --button-bg: rgba(0, 0, 0, 0.5);
    --button-color: #ffff;
    --border-color: #ff0000;
    --disabled-bg: rgba(0, 0, 0, 0.2);
    --hover-bg: black;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --transition-speed: 0.3s;
  }
  
  body {
    background-color: var(--primary-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  